@font-face {
    font-family: 'MaPolice';
    src: url('./Fonts/avalon-bold.ttf') format('ttf'),
    url('./Fonts/avalon-regular-1.ttf') format('ttf'),
    url('./Fonts/avalon-light.otf') format('otf'),
    url('./Fonts/avalon-medium-2.otf') format('otf'),
    url('./Fonts/AvenirLTStd-Roman.otf') format('otf'),
    url('./Fonts/bebas_neue/BebasNeue-Regular.ttf') format('ttf'),
         
   
  }


/* --------Style général------------------------ */



  /* Style pour le corps de la page */

body {
    font-family: avalon, sans-serif;
    color: #DEDEDE;
    background-color: #181221;
    cursor: none;
  }

  /* Style pour l'en-tête */
  header {
    background-color: #181221;
    padding: 0px 0px;
    cursor: none;
  }
  
/* Style pour le titre */

  .title {
    font-size: 36px;
  }
  
  /* Style pour les sous-titres */
  .subtitle {
    font-size: 24px;
   
  }
  
  /* Style pour les boutons */

  .mon-bouton {
    display: inline-block;
    background-color: #F9D949;
    color: #181221;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    border: none;
    cursor: none;
  }
  
  .mon-bouton:hover {
    display: inline-block;
    background-image: url(./Img-Dk/Cards/Gradiant-portrait.png);
    color: #181221;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    border: none;
    cursor: none;
    background-size: cover;

  }


 /* Style pour les boutons bleu */
 .mon-bouton-bleu {
  display: inline-block;
  background-color: #2D3952;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  margin-top: 10px;
}


  /* Style pour les boutons blog */
  .mon-bouton-blog  {
    display: inline-block;
    background-color: #F9D949;
    color: #181221;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    margin-top: 10px;
    
  }

   /* Style pour les les liens */

   a {
    color: #fff;
    text-decoration: none;
    cursor: none;
    
  }

/* Style pour les les H1*/

  h1 {
    font-family: "Avalon";
    font-size: 60px;
    
  }

  h2 {
    font-family: "Avalon";
    font-size: 52px;
    text-align: center; /* centre le contenu horizontalement */
    margin-top: 50px; /* centre le contenu verticalement */
    margin-bottom: -0.7em;/* ligne spacing */
    letter-spacing:1px;
    }
   
  h3 {
    font-family: "Avenir";
    font-size: 18px;
    text-align: center; /* centre le contenu horizontalement */
    margin-top: 40px; /* centre le contenu verticalement */
    letter-spacing:4px;
    }  

  h4 {
    font-family: "Avenir";
    font-size: 24px;
    text-align: center; /* centre le contenu horizontalement */
    letter-spacing: 1px;
  }  
  
  /* Style pour les textes */
  
  p {
    margin-bottom: -0.7em;/* ligne spacing */
    letter-spacing:1px;
    line-height: 1.5;
  }

 /* ---------------------Cookie alert-------------------------- */

 .cookie {
  width: 400px;
  padding: 25px;
  background-color: #F9D949;
  color: #181221;
  position: fixed;
  bottom: 25px;
  left: 25px;
  border-radius: 20px;
  z-index: 999;
  
}

.title-cookie{

  font-size: 30px;
}

.mon-bouton-alert {
  display: inline-block;
  background-color: #181221;
  color: #F9D949;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  border: none;
  cursor: none;
}

.mon-bouton-alert:hover {
  display: inline-block;
  background-image: url(./Img-Dk/Cards/Gradiant-portrait.png);
  color: #181221;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  border: none;
  cursor: none;
  background-size: cover;

}

 /* ------Curseur------- */

.cursor{
    z-index: 9999;
    position: absolute;
    background: #F9D949;
    height:20px;
    width: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #F9D949 ,
                0 0 60px #F9D949 ,
                0 0 100px #F9D949;
    animation: colors 5s infinite;
    transform: translate(-50%, -50%);
    display: none;
    }
    
    .cursor-large {
      z-index: 9999;
      position: absolute;
      background: #F9D949;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      pointer-events: none;
      box-shadow: 0 0 20px #F9D949,
                  0 0 40px #F9D949,
                  0 0 60px #F9D949,
                  0 0 80px #F9D949,
                  0 0 100px #F9D949;
                  
      animation: colors 5s infinite;
      transform: translate(-50%, -50%);
      display: none;
    }
    
    @keyframes colors {
      0% {
        box-shadow: 0 0 20px #F9D949,
                    0 0 40px #F9D949,
                    0 0 60px #F9D949,
                    0 0 80px #F9D949,
                    0 0 100px #F9D949;
                    filter: hue-rotate(0deg);
      }
      50% {
        box-shadow: 0 0 20px #F9D949,
                    0 0 40px #F9D949,
                    0 0 60px #F9D949,
                    0 0 80px #F9D949,
                    0 0 100px #F9D949;
                    filter: hue-rotate(90deg);
      }
      100% {
        box-shadow: 0 0 20px #F9D949,
                    0 0 40px #F9D949,
                    0 0 60px #F9D949,
                    0 0 80px #F9D949,
                    0 0 100px #F9D949;
                    filter: hue-rotate(180deg);
      }
    }
  
  /* ---------------------Navigation-------------------------- */ 
  
  .nav {
    height: 40px;
    width: 100%;
    background-color: #181221;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-title a .logo-hover {
    display: none; /* Par défaut, le logo-hover est caché */
  }
  
  .nav-title a:hover .logo {
    display: none; /* Au survol, le logo initial est caché */
  }
  
  .nav-title a:hover .logo-hover {
    display: inline-block; /* Au survol, le logo-hover est affiché */
  }
  
  .nav-btn{
    height: 40px;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: flex;
    font-size: 18px;
    justify-content: flex-end;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: #181221;
   transform: scale(1.1); /* Ajustez la valeur selon vos préférences */
  }
  
  .nav > #nav-check {
    display: none;
  }

/* Liens soulignés */

  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: #181221;
    text-decoration: underline;
    text-decoration-color: #F9D949;
    color: #F9D949;
  }
  
  @media (max-width: 600px) {
  
    .nav-title a .logo-hover {
      display: none; /* Par défaut, le logo-hover est caché */
    }
    
    .nav-title a:hover .logo {
      display: none; /* Au survol, le logo initial est caché */
    }
    
    .nav-title a:hover .logo-hover {
      display: inline-block; /* Au survol, le logo-hover est affiché */
    }


    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }

    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 90px;
      padding: 13px;
    }



    .nav > .nav-btn > label:hover,
    .nav #nav-check:checked ~ .nav-btn > label {
      background-color: #181221;
    }

    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #F9D949;
    }

    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #181221;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }

    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }

    /* Liens soulignés */

    .nav > .nav-links > a:hover {
      background-color: #181221;
      text-decoration: underline;
      text-decoration-color: #F9D949;
      color: #F9D949;
    }

    .nav-links {
      margin-top: 30px; /* Ajustez le nombre de pixels selon vos besoins */
    }

  }
  
     
   /* ---------------------Bloc-1-Prez-------------------------- */
 
   .text-prez-index   {
   font-size: 20px;
  }

 .title-mobil  {
  padding-bottom: 32px;
}

 .background-container {
    position: relative;
    width: 50%;
    height:50%;
  }

 

  .overlay-container {
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .overlay-image {
    transform: translate(-50%, -50%);
    animation: moveImage 5s infinite;
  }

  @keyframes moveImage {
    0% {
      transform: translate(-50%, -50%);
    }
    50% {
      transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }


  /* ---------------------Bloc-2-Besoins-------------------------- */

  .dites{
    padding-bottom: 30px;
  }

  .card {
  
   background-image: url(./Img-Dk/Cards/Card-portrait.png);
   border-radius: 50px;
   height: auto;
   background-size: cover;
  }

  .card:hover {
    background-image: url(./Img-Dk/Cards/card-graidant-portrait.png);
    background-size: cover;
    border-radius: 70px;
   }

  .card-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
  }
  
  .card-img {
    height: 200px;
    width: auto;
    transition: transform 0.3s;
  }
  
  .card-img:hover {
    transform: scale(1.2);
  }
  
  .card-body {
    color: #DEDEDE;
  }

  .card-body:hover {
    color: #181221;
  }

  .card-text {
    padding-right: 40px;
    padding-left: 40px;
  }
 
  /* ---------------------Bloc-3-Notre grain de follie-------------------------- */
 
 .back-follie {
  background-image: url('./Img-Dk/Background/rectangle-background-blue.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 }

 .txtgraindefollie {
  font-size: 44px;
 }

.portfolio:hover {
  transform: scale(1.2);
 }

.image-container img {
  width: 100%;
  height: auto;
 }

.content-container {
  text-align: center;
  margin-top: 20px;
 }

.content-container h4 {
  font-size: 24px;
  margin-bottom: 10px;
 }

.content-container p {
  font-size: 44px;
  margin-bottom: 20px;
 }

.content-container button {
  font-size: 18px;
 }

.text-right {
  text-align: right;
 }

 .text-follie {
  font-size: 45px;
 }

 .gdf{
  text-align: right;
 }

  /* ---------------------Bloc-4-Nos Valeurs-------------------------- */

  .valeurs {
    border-left: 3px solid #F9D949;
    padding-left: 20px; /* Ajoute un padding pour décaler le contenu */
   }

   .valeurs-p {
    text-align: left;
   }

   .img-valeurs {
    transition: transform 0.2s ease-in-out;
  }

  .img-valeurs:hover {
    transform: translateY(-25px);
  }

  /* ---------------------Bloc-5-Notre Vision-------------------------- */


  .title-v{
   font-size: 28px;
   color: #F9D949;
  }

  .parent-v{
  padding-top: 110px;
}

.txt-v{

  padding-left:40px ;
  padding-right:40px ;

}


  .card-v {
    
    background-image: url(./Img-Dk/Cards/card-bis-portrait.png);
    border-radius: 50px;
    background-size: cover;
    padding-left: 0%;
    padding-right: 0px;
  }

 


  .photo-vision {
    
      background-image: url('./Img-Dk/Photos-desk-néons/Photo-desk-design-3.png');
      background-size: cover;
      background-repeat: no-repeat;
      height: 700px;
     
    }
    
   


    
  /* ---------------------Bloc-6-FAQ-------------------------- */

  .dropdown-content {
    display: none;
  }

  .dropdown.open .dropdown-content {
    display: block;
  }

 /* ---------------------Bloc-7-Contact-------------------------- */

 input[type="text"],
 input[type="email"],
 textarea {
     color: #F9D949;
 }


 .bc {
  margin-left: 30px;
}


 .centered-container {
  text-align: center;
  background-image: url(./Img-Dk/Contact/Illu-3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-bottom: 100px;
}

.contact-form-container {
  width: 100%;
}

.adresse-container{
  position: relative;
  background-image: url(./Img-Dk/Cards/Card-paysage.png);
  border-radius: 40px;
  opacity: 0.8; /* Réduit l'opacité à 50% */
  margin-left: 30px;
}

.adresse-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.8; /* Réduit l'opacité à 50% */
}

.social-icons-container {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 20px;
  background-image: url(./Img-Dk/Cards/Card-paysage.png);
  border-radius: 40px;
}

.contact-form-container h2 {
  padding-bottom: 130px;
}

.contact-form-container form {
  display: flex;
  flex-direction: column;
}

.contact-form-container input,
.contact-form-container textarea {
  background-color: transparent;
  margin-bottom: 30px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #F9D949;
}

.contact-form-container button {
  padding: 10px 20px;
  background-color: #F9D949;
  color: #181221;
  border: none;
  cursor: pointer;
}

.contact-form-container button:hover {
  padding: 10px 20px;
background-image: url(./Img-Dk/Cards/Gradiant-portrait.png);
  color: #181221;
  border: none;
  cursor: pointer;
  background-size: cover;
}

.contact-top {
  text-align: left;
  margin-top: 0px;
  font-size: 22px;
  font-weight: bold;
}

.social-icons-container p {
  text-align: left;
}

.social-icons {
  display: flex;
  justify-content: left;
  padding-top: 5px;
  margin-right: 20px;
}


.social-icon:last-child {
  margin-right: 0;
}

.social-icon img {
  width: 40px;
  height: 40px;
}

.mail {
  margin: auto;
}


.contact-bouton {
  border-radius: 46px;
}
 

.social-icons .social-icon .icon-link {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.social-icons .social-icon .icon-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease;
}

.social-icons .social-icon:first-child .icon-image {
  background-image: url("./Img-Dk/Icones-footer/Icone Linkedin.png");
}

.social-icons .social-icon:last-child .icon-image {
  background-image: url("./Img-Dk/Icones-footer/Icone Insta.png");
}

.social-icons .social-icon:first-child:hover .icon-image {
  background-image: url("./Img-Dk/Icones-footer/Linkedin-hover.png");
  transform: scale(1.6); /* Grossissement de 20% */
}

.social-icons .social-icon:last-child:hover .icon-image {
  background-image: url("./Img-Dk/Icones-footer/insta-hover.png");
  transform: scale(1.6); /* Grossissement de 20% */
}

  /* ---------------------FOOTER-------------------------- */




  .line {
    height: 2px;
    background-color: #F9D949;
  }
 
  .yellow-link:hover {
    color: #F9D949;
    text-decoration: underline 2px;
  }


  .container-logo-footer {
    position: relative;
    display: inline-block;
  }
  
  .Logo-footer-hover {
    display: none;
  }
  
  .container-logo-footer:hover .Logo-footer {
    display: none;
  }
  
  .container-logo-footer:hover .Logo-footer-hover {
    display: block;
  }


/* ---------------------QUERIES-------------------------- */


/* ---------------------------------------------------- */
/* Styles pour les smartphones en orientation portrait */
/* ---------------------------------------------------- */


@media screen and (max-width: 480px) {

  /*Body*/


    /* Style pour le corps de la page */

body {
  font-family: avalon, sans-serif;
  color: #DEDEDE;
  background-color: #181221;
  cursor: none;
  padding-left: 10px;
    padding-right: 10px;
}


  /* Taille des titres*/

  .title-mobil{
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 32px;
    margin: 0px;
  }

  h3{
    margin: 0px;
    padding-top: 5px;

  }

.titre-contact{
  font-size: 40px;
}

.text-follie{
  font-size: 40px;
}

  /* Nos Offres*/


  .dites{
    padding-bottom:0px;
  }

  
  .card-title  {
   font-size: 22px;
  
  }

  .bloc-p {
    padding-bottom: 0px;
   
   }

   .card-text {
    padding-right: 10px;
    padding-left: 10px;
  }

 
 /* Notre vision*/
  
  .background-image {
    display: none;}

  .jumelles{
      display: none;}

  
  .vision-txt-mobil{
    font-size: 24px;
    padding-top: 50px;
    color: #F9D949;
 
  }


  .photo-vision {
    
    height: 850px;
    background-size: cover;
    background-repeat: no-repeat;
   
  }
  

  /* Notre grain de follie */
  
  
  .text-follie{
    padding-top: 45px;
    text-align: left;

  }

  .gdf{
   text-align: left;
   }

  

 /* Nos valeurs */
  
 .valeurs-mobil{

  text-align: left;

}

  /* Bloc contact */
  
  .bc {
    margin-left: 0px;
  }
  
  .adresse-container{
    margin-left:  0px;
  }
  
  .contact-form-container{
    padding-bottom: 50px;
  
  }
  .centered-container{
  
    background-image: none;
    padding-bottom: 50px;
  }

  .contact-form-container{
  text-align: center;
  }
 

 /* Footer */

.titre-footer{

  padding-top: 40px;
}

 /* Enlève footer en repsonsive*/
 
 .cursor {
    cursor: none; /* Cela rendra le curseur invisible */
  }

}

/* ---------------------------------------------------- */
/* Styles pour les smartphones en orientation paysage */
/* ---------------------------------------------------- */

@media screen and (max-width: 767px) and (orientation: landscape) {

  body {
    font-family: avalon, sans-serif;
    color: #DEDEDE;
    background-color: #181221;
    cursor: none;
    padding-left: 10px;
      padding-right: 10px;
  }

   /* Taille des titres*/
  .title-mobil{
    font-size: 40px;
    padding-top: 15px;
  }

  .text-follie{
    font-size: 30px;
    padding-top: 20px;

  }

 /* Enlève footer en repsonsive*/
 
 .cursor {
  cursor: none; /* Cela rendra le curseur invisible */
}

}


/* ---------------------------------------------------- */
  /* Styles pour les tablettes en orientation portrait */
/* ---------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1024px) {

  body {
    font-family: avalon, sans-serif;
    color: #DEDEDE;
    background-color: #181221;
    cursor: none;
    padding-left: 10px;
      padding-right: 10px;
  }

   /* Enlève footer en repsonsive*/
 
 .cursor {
  cursor: none; /* Cela rendra le curseur invisible */
}


}


/* ---------------------------------------------------- */
/* Styles pour les tablettes en orientation paysage */
/* ---------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  body {
    font-family: avalon, sans-serif;
    color: #DEDEDE;
    background-color: #181221;
    cursor: none;
    padding-left: 10px;
      padding-right: 10px;
  }

   /* Enlève footer en repsonsive*/
 
 .cursor {
  cursor: none; /* Cela rendra le curseur invisible */
}
  
}


/* ---------------------------------------------------- */
 /* Styles pour les tablettes en orientation portrait */
/* ---------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1024px) {

  body {
    font-family: avalon, sans-serif;
    color: #DEDEDE;
    background-color: #181221;
    cursor: none;
    padding-left: 10px;
      padding-right: 10px;
  }

   /* Enlève footer en repsonsive*/
 
 .cursor {
  cursor: none; /* Cela rendra le curseur invisible */
}


}

/* ---------------------------------------------------- */
  /* Styles pour divers appareils mobiles */
/* ---------------------------------------------------- */

@media screen and (max-width: 768px) {

  body {
    font-family: avalon, sans-serif;
    color: #DEDEDE;
    background-color: #181221;
    cursor: none;
    padding-left: 10px;
      padding-right: 10px;
  }

 /* Enlève footer en repsonsive*/
 
 .cursor {
  cursor: none; /* Cela rendra le curseur invisible */
}

}


